USE [QuanLySinhVienKTX]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 6/13/2021 9:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [nchar](10) NOT NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
	[SoPhong] [int] NOT NULL,
	[MSSV] [int] NOT NULL,
 CONSTRAINT [PK_HopDong] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[SoPhong] ASC,
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/13/2021 9:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[SDT] [nchar](10) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 6/13/2021 9:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[SoPhong] [int] NOT NULL,
	[Tang] [int] NULL,
	[SLTD] [int] NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[SoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLy]    Script Date: 6/13/2021 9:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLy](
	[SoPhong] [int] NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[NgayNhan] [date] NULL,
 CONSTRAINT [PK_QuanLy] PRIMARY KEY CLUSTERED 
(
	[SoPhong] ASC,
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 6/13/2021 9:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MSSV] [int] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[CMND] [int] NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nchar](10) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Lop] [nchar](10) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HopDong] ([MaHD], [NgayBD], [NgayKT], [SoPhong], [MSSV]) VALUES (N'HD01      ', CAST(N'2019-12-02' AS Date), CAST(N'2022-01-01' AS Date), 101, 17110112)
INSERT [dbo].[HopDong] ([MaHD], [NgayBD], [NgayKT], [SoPhong], [MSSV]) VALUES (N'HD02      ', CAST(N'2019-12-02' AS Date), CAST(N'2022-01-01' AS Date), 101, 17110113)
INSERT [dbo].[HopDong] ([MaHD], [NgayBD], [NgayKT], [SoPhong], [MSSV]) VALUES (N'HD03      ', CAST(N'2019-12-02' AS Date), CAST(N'2022-01-01' AS Date), 101, 17110345)
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [DiaChi], [ChucVu], [SDT]) VALUES (N'NV01', N'Nguyễn Ngọc An', CAST(N'1988-12-04' AS Date), N'Quận 1, TP.HCM', N'Bảo Vệ', N'345290615 ')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [DiaChi], [ChucVu], [SDT]) VALUES (N'NV02', N'Lê Ngọc Như', CAST(N'1986-02-12' AS Date), N'Quận Gò Vấp, TP.HCM', N'Kế Toán', N'98712187  ')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [DiaChi], [ChucVu], [SDT]) VALUES (N'NV03', N'Nguyễn Thị Lệ', CAST(N'1987-10-02' AS Date), N'Quận 9, TP.HCM', N'Kế Toán', N'98612176  ')
GO
INSERT [dbo].[Phong] ([SoPhong], [Tang], [SLTD]) VALUES (101, 1, 8)
INSERT [dbo].[Phong] ([SoPhong], [Tang], [SLTD]) VALUES (102, 1, 8)
INSERT [dbo].[Phong] ([SoPhong], [Tang], [SLTD]) VALUES (103, 1, 8)
GO
INSERT [dbo].[SinhVien] ([MSSV], [HoTen], [CMND], [NgaySinh], [SDT], [GioiTinh], [Lop]) VALUES (17110112, N'Nguyễn Thúy Diễm', 171102354, CAST(N'1999-02-03' AS Date), N'345280767 ', N'Nữ', N'171101C   ')
INSERT [dbo].[SinhVien] ([MSSV], [HoTen], [CMND], [NgaySinh], [SDT], [GioiTinh], [Lop]) VALUES (17110113, N'Lê Thị Linh', 171234567, CAST(N'1999-09-10' AS Date), N'234545112 ', N'Nữ', N'171101C   ')
INSERT [dbo].[SinhVien] ([MSSV], [HoTen], [CMND], [NgaySinh], [SDT], [GioiTinh], [Lop]) VALUES (17110345, N'Nguyễn Tín', 175609878, CAST(N'1999-12-02' AS Date), N'987121345 ', N'Nam', N'171101D   ')
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_Phong] FOREIGN KEY([SoPhong])
REFERENCES [dbo].[Phong] ([SoPhong])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_Phong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_SinhVien] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SinhVien] ([MSSV])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_SinhVien]
GO
ALTER TABLE [dbo].[QuanLy]  WITH CHECK ADD  CONSTRAINT [FK_QuanLy_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[QuanLy] CHECK CONSTRAINT [FK_QuanLy_NhanVien]
GO
ALTER TABLE [dbo].[QuanLy]  WITH CHECK ADD  CONSTRAINT [FK_QuanLy_Phong] FOREIGN KEY([SoPhong])
REFERENCES [dbo].[Phong] ([SoPhong])
GO
ALTER TABLE [dbo].[QuanLy] CHECK CONSTRAINT [FK_QuanLy_Phong]
GO
